
        <form>

          <div class="modal-body">
            <div class="form-group">
              <label class="required">Título</label>
              <input type="text" class="form-control" [(ngModel)]="titulo" [ngModelOptions]="{standalone: true}" required="" [disabled]="inputsDesabilitados">
            </div>
            <div class="form-group">
              <label class="required">Diretor</label>
              <input id="diretor" type="text" class="form-control" [(ngModel)]="diretor" [ngModelOptions]="{standalone: true}" required="" [disabled]="inputsDesabilitados">
            </div>
            <div class="form-group">
              <label class="required">Gênero</label>
              <select class="form-control" [(ngModel)]="generoId" [ngModelOptions]="{standalone: true}" [disabled]="inputsDesabilitados">
                  <option *ngFor="let item of ListaGeneros" [ngValue]="item.id">{{item.nome}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Sinopse</label>
              <textarea id="sinopse" class="form-control" [(ngModel)]="sinopse" [ngModelOptions]="{standalone: true}" [disabled]="inputsDesabilitados"></textarea>
            </div>
            <div class="form-group">
              <label>Ano</label>
                <input class="form-control" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" [(ngModel)]="ano"
                [ngModelOptions]="{standalone: true}" [disabled]="inputsDesabilitados"/>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Add">
          </div> -->
          <div class="modal-footer" *ngIf="!inputsDesabilitados">
            <button (click)="addFilme()" *ngIf="filme.id==0" class="btn btn-primary">
              Incluir
            </button>


            <button (click)="updateFilme()" *ngIf="filme.id!=0" class="btn btn-primary">
              Editar
            </button>
          </div>

          <button #closemodal data-dismiss="modal" hidden="hidden"></button>
        </form>

